@import "../../../styles/config";
.currency-select {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  cursor: pointer;
  user-select: none;
  height: 100%;
  margin-right: 10px;
  width: auto;
  text-align: center;
  z-index: 2;
  .btn {
    position: absolute;
    top: 8%;
    right: 11%;
  }
  .default {
    font-size: medium;
  }
  .options-active {
    position: fixed;
    div {
      margin: 5px 0;
      font-size: small;
    }
  }
  .options-disabled {
    display: none;
  }
}
