.currency-select {
  height: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  margin-right: 10px;
  width: auto;
  border: none;
  background-color: red;
  text-align: center;
  z-index: 2;
  position: relative;
}
.currency-select .default {
  font-size: medium;
}
.currency-select .options-active {
  position: fixed;
}
.currency-select .options-active div {
  margin: 5px 0;
  font-size: small;
}
.currency-select .options-disabled {
  display: none;
}

.btn {
  width: auto;
  text-align: center;
  border: 1px solid;
}