.currency-select {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid red;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  z-index: 2;
}

.currency-select .default {
  font-size: medium;
}

.currency-select .options-active {
  position: fixed;
  border: 1px solid red;
}

.currency-select .options-active div {
  margin: 5px 0;
  font-size: small;
}

.currency-select .options-disabled {
  display: none;
}

.btn {
  border: 1px solid;
}
