.navbar-currency {
  .currency-select {
    cursor: pointer;
    user-select: none;
    border: 1px solid red;
    height: 100%;
    border: none;
    background-color: transparent;
    text-align: center;

    .default {
      font-size: medium;
    }
    .options-active {
      position: fixed;
      border: 1px solid red;
      z-index: 1000;
      top: 100px;

      div {
        margin: 5px 0;
        font-size: small;
      }
    }
    .options-disabled {
      display: none;
    }
  }
  margin-right: 1vw;
}
