.currency-select {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 10%;
  margin-right: 10px;
  width: auto;
  border: none;
  text-align: center;
  z-index: 2;
}
.currency-select .default {
  font-size: medium;
}
.currency-select .crn-card {
  width: 70px;
  height: auto;
  position: fixed;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.currency-select .currency-options > div {
  height: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.currency-select .currency-options > div:hover {
  background-color: #eeeeee;
}
.currency-select .options-active {
  position: fixed;
}
.currency-select .options-active div {
  margin: 5px 0;
  font-size: small;
}
.currency-select .options-disabled {
  display: none;
}