@import "../styles/config";
h2 {
  font-weight: 800;
}
.cart-page {
  display: flex;
  flex-direction: column;

  // border: red 1px solid;
  .cart-info {
    display: flex;
    justify-content: space-between;
    // border: red 1px solid;

    .item-info-section {
      // border: blue 1px solid;
      margin-bottom: 1%;
      width: 48%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h3 {
        font-weight: 750;
      }
      h4 {
        font-weight: 650;
      }
    }

    .item-image-section {
      // border: red 1px solid;
      width: 48%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: right;
      .itemQty {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // border: 1px solid red;
        p {
          text-align: center;
        }
        button {
          border: 1px solid $black;
          width: 20px;
          height: 20px;
          background-color: transparent;
          transition: 0.3s;
          text-align: center;
          align-items: center;
          &:hover {
            cursor: pointer;
            background-color: $black;
            color: $white;
          }
        }
      }
      .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .slide-btn {
          position: absolute;
          width: 50px;

          display: flex;
          flex-direction: row;
          img {
            width: 35%;
            margin-top: 100%;
            &:hover {
              cursor: pointer;
            }
          }
          #next {
            position: absolute;
            margin-left: 150%;
          }
          #prev {
            position: absolute;
            margin-left: 105%;
          }
        }
      }
    }
  }
  .color {
    width: 30px;
    height: 30px;
  }

  .cart-img {
    width: 100px;
  }

  li {
    list-style: none;
  }
  #line {
    border-bottom: 1px solid rgba(163, 163, 163, 0.284);
    width: 100%;
  }
}
