.img-gallery {
  .img-main {
    height: 300px;
    width: auto;
  }
  .img-picker {
    display: flex;
    flex-direction: row;
    .imgs {
      width: 50px;
    }
    .imgs:hover {
      cursor: pointer;
    }
  }
}
