@import "../../styles/config";
.navbar {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $black;
    transition: 0.8s;
    &:hover {
      color: $green;
    }
  }
  .navbar-categories {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }

  .navbar-cart-currency {
    display: inherit;
    justify-content: space-around;
    width: 10%;
    align-items: center;
    margin-right: 2%;
  }
}
