.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-categories {
  display: flex;
}
.navbar .navbar-logo {
  height: inherit;
}
.navbar .navbar-logo img {
  height: 20%;
}
.navbar .cart-currency {
  display: flex;
}