.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
  .navbar-categories {
    display: flex;
  }
  .navbar-logo {
    height: inherit;
    img {
      height: 20%;
    }
  }
  .cart-currency {
    display: flex;
    justify-content: space-between;
    width: 50px;
  }
}
