@import "../../styles/config";
.navbar {
  height: 5vh;
  width: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: $black;
  }
  .navbar-categories {
    display: flex;
    flex-direction: row;
    .navbar-ul {
      list-style: none;
      margin-left: 1.5vw;
      .navbar-li {
        text-transform: capitalize;
      }
    }
  }
  .navbar-logo {
    color: $black;
    text-decoration: none;
  }
  .navbar-cart-currency {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    .navbar-currency {
      .currency-select {
        width: 2.5vw;
        border: none;
        background-color: transparent;
        height: 5vh;
        text-align: center;
      }
      margin-right: 1vw;
      border: none solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    .navbar-cart {
      position: relative;
      color: $black;
      button {
        width: 5vw;
        height: 5vh;
        background: none;
        border: none;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
      .dropdown-cart {
        position: absolute;
        right: 0;
        top: calc(3vh + 1rem);
        background-color: $white;
        width: 10vw;
        padding: 0.75rem;
        border-radius: 0.25rem;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        li {
          list-style: none;
        }
      }
    }
  }
}
