h1 {
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid;
}
.container a {
  background-color: red;
  display: flex;
  flex-basis: 330px;
  align-items: center;
  margin: 10px 15px 10px 0px;
  width: 450px;
  height: 390px;
}
.container a div {
  width: 100%;
  height: 100%;
}
.container a div .items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid;
}
.container a div .items-container .img-container img {
  height: 330px;
  width: 350px;
}
.container a div .items-container .cart-icon {
  display: none;
}
.container a div .items-container:hover .cart-icon {
  display: flex;
  flex-shrink: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.container a div .items-container:hover .cart-icon:hover {
  transition: 1s;
  transform: scale(1.2, 1.2);
}
.container a div .items-container:hover .cart-icon .product-img {
  border: 1px solid;
}
.container a div .items-container .product-specifics {
  text-align: left;
  width: 100%;
}