.body {
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 40px auto;
  grid-template-areas: "navbar" "body";
}

.navbar {
  grid-area: navbar;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.PLP {
  grid-area: body;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #1d1f22;
}