.empty-cart {
  background-color: red;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  right: -20px;
  z-index: 3;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}